@model CourseDetailsViewModel
@{
    ViewData["Title"] = $"{Model.Course.Name}";
}

<h2>@ViewData["Title"]</h2>

<h4>Trainer: @Model.Course.Trainer</h4>

<h5>Students registered: @Model.Course.Students</h5>

<h5>Start date:@Model.Course.StartDate.ToShortDateString()</h5>
<h5>End date: @Model.Course.EndDate.ToShortDateString()</h5>

<h5>Course Info: @Model.Course.Description</h5>

@if (User.Identity.IsAuthenticated)
{
    if(Model.IsSignedUp && Model.Course.EndDate.Date != DateTime.UtcNow.AddDays(1).Date) //TODO
    {
        <form asp-action="SubmitExam" asp-route-id="@Model.Course.Id" method="post">
            <input type="file" name="exam" accept=".zip" formenctype="multipart/form-data"/>
        </form>
        <br />
    }

    if (Model.Course.StartDate >= DateTime.UtcNow)
    {
        if (Model.IsSignedUp)
        {
            <form asp-action="SignOut" asp-route-id="@Model.Course.Id" method="post">
                <input type="submit" class="btn btn-info" value="Sign Out" />
            </form>
        }
        else
        {
            <form asp-action="SignUp" asp-route-id="@Model.Course.Id" method="post">
                <input type="submit" class="btn btn-info" value="Sign Up" />
            </form>
        }

    }
    else
    {
        if (Model.Course.EndDate < DateTime.UtcNow)
        {
            <span>This course has already finished</span>
        }
        else
        {
            <span>This course has already started</span>
        }
 
    }
}
else
{
    <span>To sign to this course, please <a asp-controller="Account" asp-action="Login" asp-route-returnUrl="@Context.Request.Path">login</a></span>
}