@model ArticleDetailsServiceModel
@{
    ViewData["Title"] = $"{Model.Title}";
}

<h2>@ViewData["Title"]</h2>

<h5><em>published by @Model.Author on @Model.PublishDate.ToShortDateString()</em></h5>

<div>
    @Html.Raw(@Model.Content)
</div>