@model AllArticlesViewModel
@{
    ViewData["Title"] = "Blog";
}

<h2>@ViewData["Title"] </h2>
<div class="row">
    <div class="col-md-6">
        <ul class="list-group article-list">
            @foreach (var article in Model.Articles)
            {
                <li class="list-group-item">
                    @article.Title
                    <br />
                    <small>published by @article.Author on @article.PublishDate.ToShortDateString()</small>
                </li>
            }
        </ul>
    </div>
</div>

@if (Model.TotalArticles >= Model.Articles.Count())
{
    <ul class="pagination">
        <li class="page-item disabled">
            <a asp-controller="Articles" asp-action="Index" asp-route-page="@Model.PreviuosPage"></a>
            <span class="page-link">Previous</span>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item active">
            <span class="page-link">
                2
                <span class="sr-only">(current)</span>
            </span>
        </li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link" href="#">Next</a>
        </li>
    </ul>
}